<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="ingredients"
    placeholder="Enter ingredients (comma-separated)"
  />
  <select [(ngModel)]="diet">
    <option value="">No Filter</option>
    <option value="gluten free">Gluten-Free</option>
    <option value="vegan">Vegan</option>
    <option value="vegetarian">Vegetarian</option>
  </select>
  <button (click)="searchRecipes()">Search</button>
</div>

<!-- Display entered ingredients -->
<div *ngIf="ingredientList.length > 0" class="entered-ingredients">
  <h4>Entered Ingredients:</h4>
  <ul>
    <li *ngFor="let ingredient of ingredientList">{{ ingredient }}</li>
  </ul>
</div>