<!-- Only render if steps exist -->
<div *ngIf="steps.length > 0">
  <ul>
    <li *ngFor="let step of steps">
      {{ step.step }}

      <!-- Equipment -->
      <ng-container *ngIf="step.equipment?.length">
        <p>Equipment:</p>
        <ul>
          <li *ngFor="let eq of step.equipment">{{ eq.name }}</li>
        </ul>
      </ng-container>

      <!-- Ingredients -->
      <ng-container *ngIf="step.ingredients?.length">
        <p>Ingredients:</p>
        <ul>
          <li *ngFor="let ing of step.ingredients">{{ ing.name }}</li>
        </ul>
      </ng-container>
    </li>
  </ul>
</div>
