<div *ngIf="recipe">
  <h1>{{ recipe?.title }}</h1>
  <img [src]="recipe?.image" [alt]="recipe?.title" />
  <p>Calories: {{ recipe.nutrition?.nutrients.find(n => n.name === 'Calories')?.amount || 'N/A' }}</p>
  <p>Protein: {{ recipe.nutrition?.nutrients.find(n => n.name === 'Protein')?.amount || 'N/A' }}</p>
  <p>Carbs: {{ recipe.nutrition?.nutrients.find(n => n.name === 'Carbohydrates')?.amount || 'N/A' }}</p>
  <p>Fat: {{ recipe.nutrition?.nutrients.find(n => n.name === 'Fat')?.amount || 'N/A' }}</p>
  <h3>Ingredients:</h3>
  <ul>
    <li *ngFor="let ingredient of recipe?.ingredients">{{ ingredient.name }}</li>
  </ul>
  <h3>Equipment:</h3>
  <ul>
    <li *ngFor="let equipment of recipe?.equipment">{{ equipment.name }}</li>
  </ul>
</div>